.floatr {
  float: right;
}

.floatl {
  float: left;
}

body {
  width:100%;
  background-color:#FAFAFA;
  font-family: 'Oxygen', sans-serif;
}

header {
  width:100%;
  min-width: 960px;
  height:50px;
  background-color: #424242;
  color:white;
}

header a {
  text-decoration: none;
  color:white;
  font-size: 14px;
  margin-left: 20px;
}

header img {
  width: 150px;
  height: 50px;
}

input[type="text"], input[type="password"] {
  width: 300px;
  height: 30px;

}

input[type="submit"] {
  width:100px;
}

button, input[type="submit"]  {
  width:130px;
  height:30px;
  margin:10px;
  color:white;
  background-color:#E57373;
  outline:none;
  border: none;
  box-shadow: 0 2px 0px #BD4343;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size:14px;
  cursor: pointer;
}

nav {
  width:400px;
  height:40px;
  padding: 0px 30px 0px 30px;
  vertical-align:middle;
}

main {
  padding: 100px;
}

a {
  font-style: none;
}

img {
  width:100%;
  height:50%;
}

#title {
  position: absolute;
  top:250px;
  width:100%;
  text-align: center;
}

#title h1 {
  font-size: 54px;
  color:white;
}

#title h3 {
  font-size: 24px;
  color:white;
}

#form {
  margin-top: 200px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}


.left {
  width:20%;
  margin-top:50px;
  padding: 50px;
  margin-right:2%;
}

.right {
  margin-top:50px;
  padding: 30px;
  width:50%;
  font-size: 14px;
}

table, th, td {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}


table {
  width: 500px;
}

tr {
  padding: 20px;
  margin-top: 20px;
}



#message {

}





































