<div class="title_box">
  <div class="title_head">
    <h1>List Your Space</h1>
    <h4>Airbnb lets you make money renting out your place.</h4>
   </div>
</div>
<div class="container">
  <div class="form">
  <form action = "/rooms" method = "POST">
    <table>
      <tr>
        <th>Name</th>
        <td><input type = "text" name="name"></td>
      </tr>
       <tr>
        <th>Description</th>
        <td><input type = "text" name="description"></td>
      </tr>
      <tr>
        <th>Country</th>
        <td><input type = "text" name="country"></td>
      </tr>
      <tr>
        <th>State</th>
        <td><input type = "text" name="state"></td>
      </tr>
      <tr>
        <th>City</th>
        <td><input type = "text" name="city"></td>
      </tr>
      <tr>
        <th>Street</th>
        <td><input type = "text" name="street"></td>
      </tr>
      <tr>
        <th>Price</th>
        <td>$<input type = "number" name="price"></td>
      </tr>
      <tr>
        <th></th>
        <td><input type = "submit"></td>
      </tr>
    </table>

    </form>
   </div>

  </div>
</div>
