<form action = "/rooms" method = "POST">
  <div>Enter Name: <br><input type = "text" name = "name"></div><br>
  <div>Enter Description: <br><input type = "text" name = "description"></div><br>
  <div>Enter Country: <br><input type = "text" name = "country"></div><br>
  <div>Enter state: <br><input type = "text" name = "state"></div><br>
  <div>Enter City: <br><input type = "text" name = "city"></div><br>
  <div>Enter Street: <br><input type = "text" name = "street"></div><br>
  <div>Enter Price: <br><input type = "number" name = "price"></div><br>
  <input type = "submit">
</form>
