<form action = "/signin" method = "POST">
  <div>Enter Username Here: <br><input type = "text" name = "user[username]"></div><br>
  <div>Enter Password Here: <br><input type = "password" name = "user[password]"></div><br>
  <input type = "submit">
</form>
