<div id="form">
  <form action = "/signin" method = "POST">
    <p><input type = "text" name = "user[username]" placeholder="Enter Username Here"></p>
    <p><input type = "password" name = "user[password]" placeholder="Enter Password Here"></p>
    <input type = "submit">
  </form>
</div>
