<main>
  <div id="message">
     <h1>Hello!<%= @user.first_name %></h1>
  </div>
<div class="left floatl">
    Username:<%= @user.first_name %>
</div>
<div class="right">
  <li><p>Username:<%= @user.first_name %></p></li>
</div>
</main>
