<form action = "/users/:id" method = "PUT">
  <div>Enter First Name: <br><input type = "text" name = "user[first_name]"></div><br>
  <div>Enter Last Name Here: <br><input type = "text" name = "user[last_name]"></div><br>
  <div>Enter Email Here: <br><input type = "text" name = "user[email]"></div><br>
  <div>Enter Credit Card Number Here: <br><input type = "text" name = "user[credit_card_number]"></div><br>
  <input type = "submit">
</form>
