<div id="top">
<img src="img/top.jpeg">
  <div id="title">
    <h1 class="">WELCOME HOME</h1>
    <h3>Rent unique places to stay from local hosts in 190+ countries.</h3>
  </div>
</div>
<main>
  <% if current_user %>
  <p>Welcome <%= current_user.first_name + " " + current_user.last_name%>!</p>
<% else %>
  <p>You are not logged in</p>
<% end %>

  <ul>
    <li>San fransico

    </li>
  <ul>
</main>
